/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 5, 2024, 9:38:25 p.m.
    Author     : kenllymosquera
*/

.root {
    -fx-background-color: #f0f0f0;
    -fx-font-family: Arial;
}

.label {
    -fx-text-fill: #333;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: #999;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #45a049;
}
